results/**
resources/**
.snakemake
.snakemake/**
.DS_Store
*.fa
*.gb
*.fasta
*.fasta*
*.gff3
*.gff
assemblies/*
*.ndb
*.nhr
*.nin
*.njs
*.not
*.nsq
*.ntf
*.nto
*.xml
*.zip
*.paf
*.tab

#.nexus
#*.fixed
*/pirate/*
#.delta
#*.fplot
#.gp
#.rplot
#.map

#.pdb
#.phr
#.pin
#.pjs
#.pot
#.psq
#.ptf
#*.pto
#*.nhd
##*.nhi
##*.nog
##
##*.sto
#*.afa
#*.faa