results/**
resources/**
.snakemake
.snakemake/**
.DS_Store
*.fa
*.gb
*.fasta
*.fasta*
*.gff3
*.gff
*.fna
*.ffn

assemblies/*
*.ndb
*.nhr
*.nin
*.njs
*.not
*.nsq
*.ntf
*.nto
*.xml
*.zip
*.paf
*.tab
*.txt
*.backbone
*.xmfa
*.gtree
*.sslist


#.nexus
#*.fixed
*/pirate/*
#.delta
#*.fplot
#.gp
#.rplot
#.map

# Why will it not just ignore these blastdb files?
*.pdb
*.phr
*.pin
*.pjs
*.pog
*.pos
*.pot
*.psq
*.ptf
*.pto

# Fine ignore it explicitly then.
plasmid_id/pf32_db/pf32.pdb
plasmid_id/pf32_db/pf32.phr
plasmid_id/pf32_db/pf32.pin

*.sto
*.afa
*.faa

*.nhd
*.nhi
*.nog
*.nwk
*.dot
RAxML_*
*.Rtab
*.aln
*.embl
*.newick
longread_analysis/v4/longread_paired_v4/clustered_proteins
longread_analysis/v4/shortread_paired_v4/clustered_proteins
plasmid_id/output copy/assembly_dict_v2.pkl
*.json
*.tsv
*.csv
*.pkl
*.png
*.db
*.tar.gz

*.snakemake*